<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Welcome!</title>
    <link rel="stylesheet" href="../static/content/ClientMainPage.css" />
    <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
</head>

<body>
    <!--left hand menu-->

    <nav class="main-menu">



        <div>
            <a class="logo" href="http://startific.com">
            </a>
        </div>
        <div class="settings"></div>
        <div class="scrollbar" id="style-1">

            <ul>

                <li>
                    <a href="http://startific.com">
                        <i class="fa fa-home fa-lg"></i>
                        <span class="nav-text">Home</span>
                    </a>
                </li>

                <li>
                    <a href="http://startific.com">
                        <i class="fa fa-user fa-lg"></i>
                        <span class="nav-text">Login</span>
                    </a>
                </li>


                <li>
                    <a href="http://startific.com">
                        <i class="fa fa-envelope-o fa-lg"></i>
                        <span class="nav-text">Contact</span>
                    </a>
                </li>




                <li>
                    <a href="http://startific.com">
                        <i class="fa fa-heart-o fa-lg"></i>

                        <span class="share">


                            <div class="addthis_default_style addthis_32x32_style">

                                <div style="position:absolute;margin-left: 56px;top:3px;">




                                    <a href="http://www.facebook.com/sharer/sharer.php?u=" target="_blank" class="share-popup"><img src="http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png" width="30px" height="30px"></a>

                                    <a href="http://twitter.com/share" target="_blank" class="share-popup"><img src="https://cdn1.iconfinder.com/data/icons/metro-ui-dock-icon-set--icons-by-dakirby/512/Twitter_alt.png" width="30px" height="30px"></a>




                                    <a href="https://plusone.google.com/_/+1/confirm?hl=en&url=_URL_&title=_TITLE_
" target="_blank" class="share-popup"><img src="http://icons.iconarchive.com/icons/danleech/simple/512/google-plus-icon.png" width="30px" height="30px"></a>



                                </div>
                                <script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ff17589278d8b3a"></script>





                        </span>
                        <span class="twitter"></span>
                        <span class="google"></span>
                        <span class="fb-like">
                            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fstartific&amp;width&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowtransparency="true"></iframe>

                        </span>
                        <span class="nav-text">
                        </span>

                    </a>

                </li>




                </li>
                <li class="darkerlishadow">
                    <a href="http://startific.com">
                        <i class="fa fa-clock-o fa-lg"></i>
                        <span class="nav-text">News</span>
                    </a>
                </li>

                <li class="darkerli">
                    <a href="http://startific.com">
                        <i class="fa fa-desktop fa-lg"></i>
                        <span class="nav-text">Technology</span>
                    </a>
                </li>

                <li class="darkerli">
                    <a href="http://startific.com">
                        <i class="fa fa-plane fa-lg"></i>
                        <span class="nav-text">Travel</span>
                    </a>
                </li>

                <li class="darkerli">
                    <a href="http://startific.com">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="nav-text">Shopping</span>
                    </a>
                </li>

                <li class="darkerli">
                    <a href="http://startific.com">
                        <i class="fa fa-microphone fa-lg"></i>
                        <span class="nav-text">Film & Music</span>
                    </a>
                </li>

                <li class="darkerli">
                    <a href="http://startific.com">
                        <i class="fa fa-flask fa-lg"></i>
                        <span class="nav-text">Web Tools</span>
                    </a>
                </li>

                <li class="darkerli">
                    <a href="http://startific.com">
                        <i class="fa fa-picture-o fa-lg"></i>
                        <span class="nav-text">Art & Design</span>
                    </a>
                </li>

                <li class="darkerli">
                    <a href="http://startific.com">
                        <i class="fa fa-align-left fa-lg"></i>
                        <span class="nav-text">
                            Magazines
                        </span>
                    </a>
                </li>

                <li class="darkerli">
                    <a href="http://startific.com">
                        <i class="fa fa-gamepad fa-lg"></i>
                        <span class="nav-text">Games</span>
                    </a>
                </li>

                <li class="darkerli">
                    <a href="http://startific.com">
                        <i class="fa fa-glass fa-lg"></i>
                        <span class="nav-text">
                            Life & Style
                        </span>
                    </a>
                </li>

                <li class="darkerlishadowdown">
                    <a href="http://startific.com">
                        <i class="fa fa-rocket fa-lg"></i>
                        <span class="nav-text">Fun</span>
                    </a>
                </li>


            </ul>


            <li>

                <a href="http://startific.com">
                    <i class="fa fa-question-circle fa-lg"></i>
                    <span class="nav-text">Help</span>
                </a>
            </li>


            <ul class="logout">
                <li>
                    <a href="http://startific.com">
                        <i class="fa fa-lightbulb-o fa-lg"></i>
                        <span class="nav-text">
                            BLOG
                        </span>

                    </a>
                </li>
            </ul>
    </nav>




        <!--****************************************************** now the sear bar other content*************************-->
        <div class="search_bar">
            <div align="center">
                <br>
                <br>
                <br>
                <br>
                <input class="search" id="search" placeholder="Search..." />
                <br>
                <br><input type="button" id="search-button" class="search-button" value=""  onclick="search_this()"/>

                <br>
                
                <br>
                <br>
                <br />
                <br />
                
            </div>
        </div>
    <div align="center">
      <!--<form action="ClientMainPage.html/uplaoding" method="post" enctype="multipart/form-data">-->  
            <input type="file" id="audiofile" name="audiofile" />
            <div id="drop_zone">Drop file here</div>
            <div id="progress_bar"><div class="percent">0%</div></div>
            <input type="submit" value="Upload" onclick="dothis()">
       <!--</form>--> 
            
    </div>
   
        <div class="wrapper">
            <div class="ColumnLeft">

                <div id="box1" class="box1">
                    <h2>Analysis Results: </h2>
                </div>

            </div>
             
            <div class="ColumnLeft">
                <object height="81" width="80%" id="yourPlayerId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
                    <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic&enable_api=true&object_id=yourPlayerId"></param>
                    <param name="allowscriptaccess" value="always">
                    <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic&enable_api=true&object_id=yourPlayerId" 
                           type="application/x-shockwave-flash" width="100%" name="yourPlayerId"></embed>
                </object>
            </div>
            
            <div class="fullscreen-bg">
                <video autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">

                    <source src="../static/img/intro.mp4" type="video/mp4">

                </video>
            </div>

        </div>
        <script>
            
            SC.initialize({
                client_id: '119b5993b27288547d01c6800b5609e2'
            });
            var track_url = 'http://soundcloud.com/forss/flickermood';
            SC.oEmbed(track_url, { auto_play: true }).then(function (oEmbed) {
                console.log('oEmbed response: ', oEmbed);
            });
            soundcloud.addEventListener('onPlayerReady', function (player, data) {
                console.log('player ready');
            });
            soundcloud.addEventListener('onMediaPlay', function (player, data) {
                console.log('track is playing id:' + data.mediaId);
            });
            soundcloud.addEventListener('onMediaPause', function (player, data) {
                console.log('track stopped at:' + player.api_getTrackPosition());
            });
            function search_this() {    //eminem - rap god
               
                if (text.value !=null) {
                    

                }

            

            /*
            // initiate auth popup
            SC.connect().then(function () {
                return SC.get('/me');
            }).then(function (me) {
                alert('Hello, ' + me.username);
            });
            */
            

            }


            function dothis() {
                var a = document.getElementById("box1");
                
                var a1 = document.createElement('h1');
                a1.textContent = "Motivating";
                var a2 = document.createElement('h1');
                a2.textContent = "Melancholy";
                a.appendChild(a1);
                a.appendChild(a2);
            }

            var button = document.getElementById('search-button');

            button.onclick = function () {
                var div = document.getElementById('search');
                if (div.style.display !== 'none') {
                    div.style.display = 'block';

                } else {
                    div.style.display = 'none';
                }
            };

            //handle drag and drop files
            function handleDragOver(evt) {
                evt.stopPropagation();
                evt.preventDefault();
                evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
            }

            // Setup the dnd listeners.
            var dropZone = document.getElementById('drop_zone');
            dropZone.addEventListener('dragover', handleDragOver, false);
            dropZone.addEventListener('drop', handleFileSelect, false);

            //***************************showing the progress bar**************
            //*****************************************************************
            var reader;
            var progress = document.querySelector('.percent');

            function updateProgress(evt) {
                // evt is an ProgressEvent.
                if (evt.lengthComputable) {
                    var percentLoaded = Math.round((evt.loaded / evt.total) * 100);
                    // Increase the progress bar length.
                    if (percentLoaded < 100) {
                        progress.style.width = percentLoaded + '%';
                        progress.textContent = percentLoaded + '%';
                    }
                }
            }

            function errorHandler(evt) {
                switch (evt.target.error.code) {
                    case evt.target.error.NOT_FOUND_ERR:
                        alert('File Not Found!');
                        break;
                    case evt.target.error.NOT_READABLE_ERR:
                        alert('File is not readable');
                        break;
                    case evt.target.error.ABORT_ERR:
                        break; // noop
                    default:
                        alert('An error occurred reading this file.');
                };
            }

            function handleFileSelect(evt) {
                // Reset progress indicator on new file selection.
                progress.style.width = '0%';
                progress.textContent = '0%';

                reader = new FileReader();
                reader.onerror = errorHandler;
                reader.onprogress = updateProgress;
                reader.onabort = function (e) {
                    alert('File read cancelled');
                };
                reader.onloadstart = function (e) {
                    document.getElementById('progress_bar').className = 'loading';
                };
                reader.onload = function (e) {
                    // Ensure that the progress bar displays 100% at the end.
                    progress.style.width = '100%';
                    progress.textContent = '100%';
                    setTimeout("document.getElementById('progress_bar').className='';", 2000);
                }

                // Read in the image file as a binary string.
                reader.readAsBinaryString(evt.target.files[0]);
            }
            document.getElementById('audiofile').addEventListener('change', handleFileSelect, false);

        </script>
</body>
</html>