
body {
  
}
#container {
    margin-top:100px;
  display:inline-flexbox;
  position:fixed;
}
.fullpage{
    position:absolute;
    height:100vh;
    width:100%;
    padding:1px;
    

}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/space is beauty.jpg') center center no-repeat;
    background-size: cover;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.search {
  outline: none;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  width: 490px;
  height: 60px;
  right: 0;
  padding: 10px 20px 12px 0px;
  border: none;
  font: normal 25px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(0, 142, 198, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("");
  background-repeat: no-repeat;
  background-position: 26% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  border-bottom: thin solid rgba(255, 255, 255, .2);
}

.Stext {
  outline: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 19px/1.2 "Roboto", Helvetica, sans-serif;
  color: rgba(255, 255, 255, .7);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}



.search-button {
   outline: none;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 44px;
  height: 60px;
  cursor: pointer;
  padding: 10px 20px;
  border: 4px solid rgba(255, 255, 255, 1);
  -webkit-border-radius: 99px;
  border-radius: 99px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("http://i62.tinypic.com/295aes7.png"), rgba(0, 0, 0, 0.75);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
  -webkit-transition: all 240ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 240ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 240ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 240ms cubic-bezier(0.42, 0, 0.58, 1);
}

.search-button:hover {
  background: url("http://i62.tinypic.com/295aes7.png"), rgba(255, 255, 255, 0.69);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.search-button:active {
  background: url("http://i62.tinypic.com/295aes7.png"), rgba(0, 0, 0, 0.73);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search:hover {
  border-bottom: thin solid rgba(255, 255, 255, .9);
  -webkit-box-shadow: 0 8px 6px -6px rgba(255, 255, 255, .2);
  -moz-box-shadow: 0 8px 6px -6px rgba(255, 255, 255, .2);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, .2);
}
.ColumnLeft {
 float:left;
 width:50%;

}
.ColumnLeft::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  background: url(http://s.cdpn.io/298/wolf_20130818_129.jpg) -260px -200px;
  z-index: -1;
}
/*
.ColumnLeft::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
}
*/




/* ScrolBar  */
.scrollbar {
  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.scrollbar:hover {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Scrollbar Style */
#style-1::-webkit-scrollbar-track {
  border-radius: 2px;
}
#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}
#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #BFBFBF;
}



/* Logo Hover Property */
a:hover,
a:focus {
  text-decoration: none;
  border-left: 0px solid #F7F7F7;
}
nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

#progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
  }
  #progress_bar.loading {
    opacity: 0.5;
  }
  #progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }

  input, textarea {
  font-size: 22px;
  display: block;
  width: 15%;
  height: 10%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}


/**********************************MUSIC PLAYER FOR ME*********************************/


body {
  line-height: 1;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {
  display: block;
}

nav ul {
  list-style: none;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ul ul {
  list-style: circle;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

mark {
  background: none;
}

/*cascade starts*/

h1 {
  font-size: 32px;
}

li {
  list-style: none;
}

svg {
  width: 40px;
  height: 40px;
}

/*
header
*/
header {
  width: 100%;
  height: 100px;
  background-color: rgba(150, 150, 150, 0.6);
}
header > h1 {
  padding-top: 34px;
  margin-left: 100px;
  display: inline-block;
  float: left;
}
header > ul {
  width: 400px;
  float: right;
  padding-top: 34px;
}
header > ul li {
  display: block;
  width: 160px;
  height: 50px;
  float: left;
  line-height: 50px;
}
header > ul li:nth-child(1) {
  text-align: center;
}
header > ul li:nth-child(1):hover {
  cursor: pointer;
}
header > ul li:nth-child(2) input {
  border-radius: 5px;
  height: 20px;
  padding: 0 10px;
  outline-width: 0;
  font-family: GeoSans;
  font-size: 11px;
  width: 150px;
}



/*---------------------------------MUSIC PLAYER ENDS NOW------------------------------*/

/*------------------------------------------------------------------------------------*/
/**---------------------------------------MY MUSIC PLAYER BEEP------------------------------------------*/


/***********************************************MY ENDS NOW*****************************************************/