<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="../static/content/Login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/scripts/Login.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.6.14.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="frame">
            <div class="nav">
                <ul class"links">
                    <li class="signin-active"><a href="/">Go Home</a></li>
                    <li class="signin-active"><a class="btn">Sign in</a></li>
                    <li class="signup-inactive"><a class="btn">Choose Other </a></li>
                </ul>
            </div>
            <div ng-app ng-init="checked = false">
                <form class="form-signin" action="" method="post" name="form">
                    <label for="username">Username</label>
                    <input class="form-styling" type="text" name="username" placeholder="" id="username"/>
                    <label for="password">Password</label>
                    <input class="form-styling" type="password" name="password" placeholder="" id="password" />
                    <input type="checkbox" id="checkbox" />
                    <label for="checkbox"><span class="ui"></span>Keep me signed in</label>
                    <div class="btn-animate">
                        <a class="btn-signin" id="signin">Sign in</a>
                    </div>
                </form>

                <form class="form-signup" action="" method="post" name="form">
                    
                    <input class="form-styling" type="button" value="Facebook Login" name="Facebook Login" scope="public_profile,email" onlogin="checkLoginState()" />
                    
                    <input class="form-styling" type="button"value="Google Login" name="Google Login"/>
                    
                    <input class="form-styling" type="button" value="SoundCloud Login" name="SoundClound"/>
                
                    <input class="form-styling" type="text" name="confirmpassword" placeholder="" />
                    <a ng-click="checked = !checked" href="/home" class="btn-signup">exit</a>
                </form>

                <div class="success">
                    <svg width="270" height="270" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 60 60" id="check" ng-class="checked ? 'checked' : ''">
                        <path fill="#ffffff" d="M40.61,23.03L26.67,36.97L13.495,23.788c-1.146-1.147-1.359-2.936-0.504-4.314
                  c3.894-6.28,11.169-10.243,19.283-9.348c9.258,1.021,16.694,8.542,17.622,17.81c1.232,12.295-8.683,22.607-20.849,22.042
                  c-9.9-0.46-18.128-8.344-18.972-18.218c-0.292-3.416,0.276-6.673,1.51-9.578" />
                        <div class="successtext">
                            <p> Thanks for signing up! Check your email for confirmation.</p>
                        </div>
                        </svg>
                </div>
            </div>

            <div class="forgot">
                <a href="#">Forgot your password?</a>
            </div>

            <div>
                <div class="cover-photo"></div>
                <div class="profile-photo"></div>
                <h1 class="welcome" id="welcome">Welcome,</h1>
                <a id="client" class="btn-goback" value="Refresh" onclick="history.go()">Go To your page</a>
            </div>
        </div>

        <a id="refresh" value="Refresh" onclick="history.go()">
            <svg class="refreshicon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="25px" height="25px" viewBox="0 0 322.447 322.447" style="enable-background:new 0 0 322.447 322.447;"
                 xml:space="preserve">
            <path d="M321.832,230.327c-2.133-6.565-9.184-10.154-15.75-8.025l-16.254,5.281C299.785,206.991,305,184.347,305,161.224
                c0-84.089-68.41-152.5-152.5-152.5C68.411,8.724,0,77.135,0,161.224s68.411,152.5,152.5,152.5c6.903,0,12.5-5.597,12.5-12.5
                c0-6.902-5.597-12.5-12.5-12.5c-70.304,0-127.5-57.195-127.5-127.5c0-70.304,57.196-127.5,127.5-127.5
                c70.305,0,127.5,57.196,127.5,127.5c0,19.372-4.371,38.337-12.723,55.568l-5.553-17.096c-2.133-6.564-9.186-10.156-15.75-8.025
                c-6.566,2.134-10.16,9.186-8.027,15.751l14.74,45.368c1.715,5.283,6.615,8.642,11.885,8.642c1.279,0,2.582-0.198,3.865-0.614
                l45.369-14.738C320.371,243.946,323.965,236.895,321.832,230.327z" />
    </svg>
        </a>
    </div>

    <script>

        function sleep(miliseconds) {
            var currentTime = new Date().getTime();

            while (currentTime + miliseconds >= new Date().getTime()) {
            }
        }
        var go = document.getElementById("signin");
        
        go.addEventListener("click", function () {
            
            Parse.initialize("Zq8onFf4i6UMn5q0pjbrnjSWAuNq40jDDXMehOZy", "R9Bl6IYxfR3mM9YO7bvC4ZSS39im43rqi4OYKmS5");
            var name = document.getElementById("username").value;

            var user = Parse.Object.extend("ClientData");
            var query = new Parse.Query(user);
            var a = document.getElementById("client");
            a.href = "/ClientMainPage.html";
            query.get(name, {
                success: function (user) {
                    // The object was retrieved successfully.<div class="btn-animate">
                                                                //<a class="btn-signin" id="signin">Sign in</a>
                                                                  //</div>
                    sleep(2000);
                    
                   
                },
                error: function (object, error) {
                    // The object was not retrieved successfully.
                    // error is a Parse.Error with an error code and message.
                    var b1 = document.getElementById("welcome");
                    b1.textContent = "Not Found";
                    a.href = "/logIn.html";
                }
            });
        });
        
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
              'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
              'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1034598393249358',
            cookie     : true,  // enable cookies to allow the server to access 
            // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.2' // use version 2.2
        });

        // Now that we've initialized the JavaScript SDK, we call 
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
              'Thanks for logging in, ' + response.name + '!';
        });
    }
    </script>

    <!--
      Below we include the Login Button social plugin. This button uses
    the JavaScript SDK to present a graphical Login button that triggers
    the FB.login() function when clicked.
  -->

    <fb:login-button scope="public_profile,email" class="form-styling" onlogin="checkLoginState();">
    </fb:login-button>

    
</body>
</html>